body {
    background: url(/img/background.png) no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
.container.top-margin{
    margin-top: 32px;
}
.container.top-margin.top-margin-extra{
    margin-top: 96px;
}
.navbar-y.fixed:hover {
    opacity:1;
}
.navbar-y.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    opacity: .3;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.navbar-y{
    min-height:64px;
    background: black;
    position: relative;
}
.navbar-y::after{
    background: linear-gradient(-45deg, transparent 16px, black 0), linear-gradient(45deg, transparent 16px, black 0);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 17px 32px;
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: -15px;
    left: 0px;
}
.navbar-parent{
    padding-left:0px;
    padding-right:0px;
}
.navbar-y .menu-margin-top{
    margin-top: 20px;
}
.search{
    position: relative;
}
.search button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: transparent;
}
.search button:hover {
    background: black;
    color: white;
}

.menu {
    border: solid thin #d5c68a;
    border-radius: 8px;
}
.menu a {
    background: #d5c68a;
    border: transparent;
}
.menu a:hover,
.menu a:active,
.menu a:active:hover,
.menu a:focus,
.menu a.active,
.menu a.active:active:hover
{
    background: black!important;
    color: #d5c68a!important;
    border: transparent;
}

.navbar-y .btn-group>div:first-child>a, .navbar-y .btn-group>div:last-child>a {
    border-radius: 6px;
}

div#footer {
    background-color: #d5c68a;
    border-radius: 15px;
}

div#footer p {
    display: inline-block;
    padding: 15px;
    margin: 0;
    line-height: 20px;
}
#footer li.active>a,
#footer li>a:hover,
#footer li>a:focus,
#footer li>a:focus:hover
{
    background: #7b2e00;
    color: #d5c68a;
}

#footer li>a, #footer
p {
    color: #7b2e00;
}

hr {
    border-color: #000;
    margin-bottom: 50px;
    margin-top: 5px;
}

.main-content{
    min-height:700px;
}
.main-content .panel-heading {
    background-color: #d5c68a;
    border-color: #d5c68a;
    min-height: 30px;
}

.main-content .panel-body h3,
.main-content .panel-body h3 a {
    color: #7b2e00;
    margin-bottom:25px;
}
.main-content .panel-body {
    padding: 15px 10%;
}
.main-content .panel-body p {
    margin-bottom: 30px;
}
h1 {
    font-weight: bold;
}
.navbar-y h1 {
    color: white;
}
.main-content .btn.btn-default {
    background: #7b2e00;
    color: white;
}
.main-content .panel-body .row {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 500px) {
    .btn-group-justified>.btn-group .btn {
        font-size: 10px;
    }
}
.main-content .article-card .panel-body p {
    margin-bottom: 0px;
}
.main-content .article-card .panel-body .row {
    margin-bottom: 5px;
}

.main-content .article-card .panel-body h3 {
    font-size: 17px;
    font-weight: bold;
}
.main-content .article-card .panel-body {
    padding: 10px;
}

.main-content .article-card .panel-body img.img-responsive {
    width: 100%;
}
span.share-count {
    background-color: white;
    padding: 2px 5px;
    position: relative;
}

span.share-count::before {
    top: 20%;
    background-color: transparent;
    content: "";
    position: absolute;
    bottom: -15px;
    right: 100%;
    border-width: 1px 16px 0px;
    border-style: solid;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #ffffff;
}
a.btn.btn-default.btn-fb {
    background: #4560af;
    color: white;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: bold;
}
.main-content .panel-heading span.pull-right>* {
    margin: 0 1px;
}

[aria-label=pagination] {
    text-align: center;
}
ul.pagination {
    background-color: #d5c68a;
    border-radius: 10px;
}

.pagination>li>a, .pagination>li>span {
    color: #d5c68a;
    background-color: white;
    border-color: #d5c68a;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: black;
    border-color: #d5c68a;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #d5c68a;
    background-color: white;
    border-color: #d5c68a;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: black;
    color: white;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes blinking {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes blinking {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}
.rating {
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 21px solid #d5c68a;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    -webkit-animation: blinking 3s infinite; /* Safari 4.0 - 8.0 */
    animation: blinking 3s infinite;
}

.rating:hover {
    width: 100px;
    height: 21px;
    background: #d5c68a;
    border-top: initial;
    border-bottom: initial;
    border-right: initial;
    -webkit-animation: initial; /* Safari 4.0 - 8.0 */
    animation: initial;
}

.rating>* {
    display: none;
    cursor: pointer;
}

.rating:hover>* {
    display: inline-block;
}

.article-card {
    position: relative;
}
.rate:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    content: '\f005 \f005 \f005 \f005 \f005';
    letter-spacing: 5px;
    color: rgba(218, 218, 218, .8);
    color: #7d2e00;
}

.rate {
    height: 20px;
    width: 0%;
    position: relative;
    overflow: hidden;
}

.rate-wrapper:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    content: '\f005 \f005 \f005 \f005 \f005';
    letter-spacing: 5px;
    color: rgba(218, 218, 218, .8);
    color: #d5c68a;
}

.rate-wrapper {
    height: 20px;
    width: 85px;
    position: relative;
}
.bravo-tooltip{
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    background: rgb(213, 198, 138);
    border: thin solid rgb(123, 46, 7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px 25px;
}

.bravo-tooltip a {
    font-size: 12px;
}

.bravo-tooltip .glyphicon-remove:hover {
    background-color: rgb(213, 198, 138);
    color: rgb(123, 46, 7);
    opacity: 1;
}
.bravo-tooltip .glyphicon-remove {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: rgb(123, 46, 7);
    color: rgb(213, 198, 138);
    padding: 2px;
    opacity: .1;
    cursor: pointer;
    -webkit-transition: color .2s, background-color .2s, opacity .2s;
    -moz-transition: color .2s, background-color .2s, opacity .2s;
    -ms-transition: color .2s, background-color .2s, opacity .2s;
    -o-transition: color .2s, background-color .2s, opacity .2s;
    transition: color .2s, background-color .2s, opacity .2s;
}
.article-card:hover .rating {
    animation: initial;
    -webkit-animation: initial;
}
.rate-container>* {
    display: inline-block;
    vertical-align: middle;
}

i.fa.fa-check-circle.fa-check-rated {
    color: green;
}